body {
    color: white;
    text-align: center;
    font-family: 'Staatliches', sans-serif;
    background-color:black;
}

.title {
    font-size: 50px;
    background-color:black ;
    font-weight: 800;
    padding: 0 20px;
}

.button {
    display: flex;
    justify-content: center;
}

p {
    font-size: 30px;
    font-weight: 800;
}


.firstImage {
    height: 350px;
}

.start-button {
    height: 40px;
}

/* Check out `display:none`. What do you think it does?*/
.treasure {
    display: none;
    font-family: 'Coiny', cursive;
}

.treasure-img {
    height: 300px;
}

h1 {
    font-size: 50px;
}
.part2{display:none;}
.final1{display:none;}

